* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
  }
 
 .container {
    width: 100%;
    margin-inline: auto;
    border: 0 solid red;
    
    
 }


.boxhero {
    /* background-image: linear-gradient(rgba(63, 63, 63, 0.6), rgba(0, 0, 0, 0.075)) ,url(http://localhost/ikbsmansa/hbhmedan.jpg); */
    background-image: linear-gradient(rgba(63, 63, 63, 0.6), rgba(0, 0, 0, 0.075)) ,url(hbhmedan2.jpg);
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    color: white;
    padding-top: 150px;
    padding-bottom: 150px;
    border-radius: 8px;
    margin-top: 25px;
}


.boxhero h1 {

    font-size: 35px;
    margin-bottom: 15px;
    line-height: 1.3;
    color: #f5e60c;
}

  .boxhero a {
    color:white;
    text-decoration: none;
    background-color: rgb(49, 133, 34);
    padding: 10px 20px;
    font-size: 20px;
    transition: all 0.3s ease;
    
    
  }
  .boxhero a:hover {

    background-color: rgba(249, 192, 34, 0.792);
  }

 .navbar-brand {
    font-size: 25px;
    color: rgb(41, 40, 40);
    /* text-shadow: 1px 1px 0px #090909; */
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    
  }

  .nav-link, .nav-item {
    font-size: 14px;
    color: rgb(23, 130, 8);
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
  }

  footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000f7;
  color: white;
  /* padding: 2px; */
 }

  footer p span {
  font-weight: bold;
  font-size: 12px;
 }

 .head1 {

    background-color: rgb(148, 155, 155);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin: 0;
    padding: 10px 10px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}


      